<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.myserviceMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.myservice">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="serviceName" column="service_name" jdbcType="VARCHAR"/>
            <result property="classify" column="classify" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="starttime" column="starttime" jdbcType="TIMESTAMP"/>
            <result property="endtime" column="endtime" jdbcType="TIMESTAMP"/>
            <result property="countDay" column="count_day" jdbcType="INTEGER"/>
            <result property="countTotal" column="count_total" jdbcType="INTEGER"/>
            <result property="countCalled" column="count_called" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDel" column="is_del" jdbcType="INTEGER"/>
            <result property="serviceType" column="service_type" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_name,classify,
        version,label,status,
        starttime,endtime,count_day,
        count_total,count_called,create_time,
        is_del,service_type
    </sql>
</mapper>
