<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_whitelistMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_whitelist">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="orgid" column="orgid" jdbcType="VARCHAR"/>
            <result property="orgname" column="orgname" jdbcType="VARCHAR"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="optUserid" column="opt_userid" jdbcType="VARCHAR"/>
            <result property="optUsername" column="opt_username" jdbcType="VARCHAR"/>
            <result property="sysid" column="sysid" jdbcType="VARCHAR"/>
            <result property="sysname" column="sysname" jdbcType="VARCHAR"/>
            <result property="optTime" column="opt_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,orgid,orgname,
        userid,username,status,
        opt_userid,opt_username,sysid,
        sysname,opt_time,type,
        is_deleted
    </sql>
</mapper>
