<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_stat_day_checkMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_stat_day_check">
            <id property="serviceId" column="service_id" jdbcType="VARCHAR"/>
            <result property="runTime" column="run_time" jdbcType="BIGINT"/>
            <result property="faultNum" column="fault_num" jdbcType="BIGINT"/>
            <result property="faultTotalTime" column="fault_total_time" jdbcType="BIGINT"/>
            <result property="firstTime" column="first_time" jdbcType="BIGINT"/>
            <result property="secondTime" column="second_time" jdbcType="BIGINT"/>
            <result property="thirdTime" column="third_time" jdbcType="BIGINT"/>
            <result property="runStatus" column="run_status" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        service_id,run_time,fault_num,
        fault_total_time,first_time,second_time,
        third_time,run_status,update_time
    </sql>
</mapper>
