<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_logs_requestMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_logs_request">
            <id property="logid" column="logID" jdbcType="BIGINT"/>
            <result property="requestip" column="requestIp" jdbcType="VARCHAR"/>
            <result property="userid" column="userId" jdbcType="VARCHAR"/>
            <result property="policetype" column="policeType" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="rolenames" column="rolenames" jdbcType="VARCHAR"/>
            <result property="organizationname" column="organizationname" jdbcType="VARCHAR"/>
            <result property="appid" column="appId" jdbcType="VARCHAR"/>
            <result property="sysname" column="sysname" jdbcType="VARCHAR"/>
            <result property="sysdescription" column="sysdescription" jdbcType="VARCHAR"/>
            <result property="serviceid" column="serviceId" jdbcType="VARCHAR"/>
            <result property="resourceid" column="resourceId" jdbcType="VARCHAR"/>
            <result property="serviceresourcename" column="serviceResourceName" jdbcType="VARCHAR"/>
            <result property="servicegatewayurl" column="serviceGatewayUrl" jdbcType="VARCHAR"/>
            <result property="requestmethod" column="requestMethod" jdbcType="VARCHAR"/>
            <result property="serviceresourceprovidersysid" column="serviceResourceProviderSysid" jdbcType="VARCHAR"/>
            <result property="serviceresourceprovidersysname" column="serviceResourceProviderSysname" jdbcType="VARCHAR"/>
            <result property="dataset" column="dataset" jdbcType="VARCHAR"/>
            <result property="datasetname" column="datasetName" jdbcType="VARCHAR"/>
            <result property="dataresourceids" column="dataResourceIDs" jdbcType="VARCHAR"/>
            <result property="dataresourcenames" column="dataResourceNames" jdbcType="VARCHAR"/>
            <result property="requesttime" column="requestTime" jdbcType="TIMESTAMP"/>
            <result property="requestheadparam" column="requestHeadParam" jdbcType="VARCHAR"/>
            <result property="requestparam" column="requestParam" jdbcType="VARCHAR"/>
            <result property="requestdatanum" column="requestDataNum" jdbcType="INTEGER"/>
            <result property="forwardcost" column="forwardCost" jdbcType="INTEGER"/>
            <result property="forwardstate" column="forwardState" jdbcType="VARCHAR"/>
            <result property="forwardfailreason" column="forwardFailReason" jdbcType="VARCHAR"/>
            <result property="responsecost" column="responseCost" jdbcType="INTEGER"/>
            <result property="responsestate" column="responseState" jdbcType="VARCHAR"/>
            <result property="responsedatanum" column="responseDataNum" jdbcType="INTEGER"/>
            <result property="responseparam" column="responseParam" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        logID,requestIp,userId,
        policeType,account,username,
        rolenames,organizationname,appId,
        sysname,sysdescription,serviceId,
        resourceId,serviceResourceName,serviceGatewayUrl,
        requestMethod,serviceResourceProviderSysid,serviceResourceProviderSysname,
        dataset,datasetName,dataResourceIDs,
        dataResourceNames,requestTime,requestHeadParam,
        requestParam,requestDataNum,forwardCost,
        forwardState,forwardFailReason,responseCost,
        responseState,responseDataNum,responseParam
    </sql>
</mapper>
