<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_categoryMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_category">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
            <result property="serviceCategory" column="service_category" jdbcType="VARCHAR"/>
            <result property="createUserid" column="create_userid" jdbcType="VARCHAR"/>
            <result property="createUsername" column="create_username" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,service_category,
        create_userid,create_username,create_time
    </sql>
</mapper>
