<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_demandMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_demand">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="serviceProposerName" column="service_proposer_name" jdbcType="VARCHAR"/>
            <result property="serviceProposerDesc" column="service_proposer_desc" jdbcType="VARCHAR"/>
            <result property="serviceCategoryId" column="service_category_id" jdbcType="INTEGER"/>
            <result property="serviceTypeId" column="service_type_id" jdbcType="INTEGER"/>
            <result property="serviceProposerUserid" column="service_proposer_userid" jdbcType="VARCHAR"/>
            <result property="serviceProposerUsername" column="service_proposer_username" jdbcType="VARCHAR"/>
            <result property="serviceProposerOrgid" column="service_proposer_orgid" jdbcType="VARCHAR"/>
            <result property="serviceProposerOrgname" column="service_proposer_orgname" jdbcType="VARCHAR"/>
            <result property="serviceProposerContact" column="service_proposer_contact" jdbcType="VARCHAR"/>
            <result property="relationDataResourceIdentifier" column="relation_data_resource_identifier" jdbcType="VARCHAR"/>
            <result property="serviceReqArgs" column="service_req_args" jdbcType="VARCHAR"/>
            <result property="serviceRespArgs" column="service_resp_args" jdbcType="VARCHAR"/>
            <result property="serviceProposerCreatorId" column="service_proposer_creator_id" jdbcType="VARCHAR"/>
            <result property="serviceProposerCreatorName" column="service_proposer_creator_name" jdbcType="VARCHAR"/>
            <result property="serviceProposerTime" column="service_proposer_time" jdbcType="TIMESTAMP"/>
            <result property="serviceProposerApproveTime" column="service_proposer_approve_time" jdbcType="TIMESTAMP"/>
            <result property="serviceProposerApproveUserid" column="service_proposer_approve_userid" jdbcType="VARCHAR"/>
            <result property="serviceProposerApproveUsername" column="service_proposer_approve_username" jdbcType="VARCHAR"/>
            <result property="serviceProposerStatus" column="service_proposer_status" jdbcType="INTEGER"/>
            <result property="serviceBuildId" column="service_build_id" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_proposer_name,service_proposer_desc,
        service_category_id,service_type_id,service_proposer_userid,
        service_proposer_username,service_proposer_orgid,service_proposer_orgname,
        service_proposer_contact,relation_data_resource_identifier,service_req_args,
        service_resp_args,service_proposer_creator_id,service_proposer_creator_name,
        service_proposer_time,service_proposer_approve_time,service_proposer_approve_userid,
        service_proposer_approve_username,service_proposer_status,service_build_id,
        is_deleted
    </sql>
</mapper>
