<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_controlMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_control">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="serviceApplyId" column="service_apply_id" jdbcType="VARCHAR"/>
            <result property="serviceResourceId" column="service_resource_id" jdbcType="VARCHAR"/>
            <result property="strategyCategory" column="strategy_category" jdbcType="INTEGER"/>
            <result property="strategySource" column="strategy_source" jdbcType="INTEGER"/>
            <result property="strategyType" column="strategy_type" jdbcType="VARCHAR"/>
            <result property="momentStrategyUnit" column="moment_strategy_unit" jdbcType="INTEGER"/>
            <result property="momentStrategyNums" column="moment_strategy_nums" jdbcType="INTEGER"/>
            <result property="flowStrategySingle" column="flow_strategy_single" jdbcType="INTEGER"/>
            <result property="flowStrategyTotal" column="flow_strategy_total" jdbcType="INTEGER"/>
            <result property="dataStrategySingle" column="data_strategy_single" jdbcType="INTEGER"/>
            <result property="dataStrategyTotal" column="data_strategy_total" jdbcType="INTEGER"/>
            <result property="downloadStrategySingle" column="download_strategy_single" jdbcType="INTEGER"/>
            <result property="downloadStrategyTotal" column="download_strategy_total" jdbcType="INTEGER"/>
            <result property="dataOptUserid" column="data_opt_userid" jdbcType="VARCHAR"/>
            <result property="dataOptUsername" column="data_opt_username" jdbcType="VARCHAR"/>
            <result property="dataOptTime" column="data_opt_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="formData" column="form_data" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_apply_id,service_resource_id,
        strategy_category,strategy_source,strategy_type,
        moment_strategy_unit,moment_strategy_nums,flow_strategy_single,
        flow_strategy_total,data_strategy_single,data_strategy_total,
        download_strategy_single,download_strategy_total,data_opt_userid,
        data_opt_username,data_opt_time,is_deleted,
        form_data
    </sql>
</mapper>
