<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.service_resourceMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.service_resource">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="serviceBuildId" column="service_build_id" jdbcType="VARCHAR"/>
            <result property="serviceResourceIdentifier" column="service_resource_identifier" jdbcType="VARCHAR"/>
            <result property="serviceResourceName" column="service_resource_name" jdbcType="VARCHAR"/>
            <result property="serviceResourceDesc" column="service_resource_desc" jdbcType="VARCHAR"/>
            <result property="serviceResourceVersion" column="service_resource_version" jdbcType="VARCHAR"/>
            <result property="serviceCategoryId" column="service_category_id" jdbcType="INTEGER"/>
            <result property="serviceTypeId" column="service_type_id" jdbcType="INTEGER"/>
            <result property="serviceResourceUrl" column="service_resource_url" jdbcType="VARCHAR"/>
            <result property="serviceGatewayUrl" column="service_gateway_url" jdbcType="VARCHAR"/>
            <result property="serviceCallType" column="service_call_type" jdbcType="INTEGER"/>
            <result property="serviceResourceMethod" column="service_resource_method" jdbcType="VARCHAR"/>
            <result property="relationDataResourceIdentifier" column="relation_data_resource_identifier" jdbcType="VARCHAR"/>
            <result property="serviceReqArgs" column="service_req_args" jdbcType="VARCHAR"/>
            <result property="serviceRespArgs" column="service_resp_args" jdbcType="VARCHAR"/>
            <result property="serviceReqSample" column="service_req_sample" jdbcType="VARCHAR"/>
            <result property="serviceRespCode" column="service_resp_code" jdbcType="VARCHAR"/>
            <result property="serviceResourceDoc" column="service_resource_doc" jdbcType="VARCHAR"/>
            <result property="serviceResourceStatus" column="service_resource_status" jdbcType="INTEGER"/>
            <result property="serviceResourceOpen" column="service_resource_open" jdbcType="INTEGER"/>
            <result property="serviceResourceReport" column="service_resource_report" jdbcType="INTEGER"/>
            <result property="serviceResourceRegUserid" column="service_resource_reg_userid" jdbcType="VARCHAR"/>
            <result property="serviceResourceRegUsername" column="service_resource_reg_username" jdbcType="VARCHAR"/>
            <result property="serviceResourceRegTime" column="service_resource_reg_time" jdbcType="TIMESTAMP"/>
            <result property="serviceResourceProviderOrgid" column="service_resource_provider_orgid" jdbcType="VARCHAR"/>
            <result property="serviceResourceProviderOrgname" column="service_resource_provider_orgname" jdbcType="VARCHAR"/>
            <result property="serviceResourceProviderSysid" column="service_resource_provider_sysid" jdbcType="VARCHAR"/>
            <result property="serviceResourceProviderSysname" column="service_resource_provider_sysname" jdbcType="VARCHAR"/>
            <result property="serviceResourceOffTime" column="service_resource_off_time" jdbcType="TIMESTAMP"/>
            <result property="serviceResourceOffReason" column="service_resource_off_reason" jdbcType="VARCHAR"/>
            <result property="serviceResourceOffUserid" column="service_resource_off_userid" jdbcType="VARCHAR"/>
            <result property="serviceResourceOffUsername" column="service_resource_off_username" jdbcType="VARCHAR"/>
            <result property="serviceResourceOriginType" column="service_resource_origin_type" jdbcType="INTEGER"/>
            <result property="resourceCatalogId" column="resource_catalog_id" jdbcType="VARCHAR"/>
            <result property="serviceAgreementId" column="service_agreement_id" jdbcType="VARCHAR"/>
            <result property="servicePowerOrgid" column="service_power_orgid" jdbcType="VARCHAR"/>
            <result property="servicePowerOrgname" column="service_power_orgname" jdbcType="VARCHAR"/>
            <result property="servicePowerUserid" column="service_power_userid" jdbcType="VARCHAR"/>
            <result property="servicePowerUsername" column="service_power_username" jdbcType="VARCHAR"/>
            <result property="servicePowerContact" column="service_power_contact" jdbcType="VARCHAR"/>
            <result property="serviceMgmtOrgid" column="service_mgmt_orgid" jdbcType="VARCHAR"/>
            <result property="serviceMgmtOrgname" column="service_mgmt_orgname" jdbcType="VARCHAR"/>
            <result property="serviceMgmtUserid" column="service_mgmt_userid" jdbcType="VARCHAR"/>
            <result property="serviceMgmtUsername" column="service_mgmt_username" jdbcType="VARCHAR"/>
            <result property="serviceMgmtContact" column="service_mgmt_contact" jdbcType="VARCHAR"/>
            <result property="dataRegOrgid" column="data_reg_orgid" jdbcType="VARCHAR"/>
            <result property="dataRegOrgname" column="data_reg_orgname" jdbcType="VARCHAR"/>
            <result property="dataRegUserid" column="data_reg_userid" jdbcType="VARCHAR"/>
            <result property="dataRegUsername" column="data_reg_username" jdbcType="VARCHAR"/>
            <result property="dataRegIdcard" column="data_reg_idcard" jdbcType="VARCHAR"/>
            <result property="dataOptOrgid" column="data_opt_orgid" jdbcType="VARCHAR"/>
            <result property="dataOptOrgname" column="data_opt_orgname" jdbcType="VARCHAR"/>
            <result property="dataOptUserid" column="data_opt_userid" jdbcType="VARCHAR"/>
            <result property="dataOptUsername" column="data_opt_username" jdbcType="VARCHAR"/>
            <result property="dataOptIdcard" column="data_opt_idcard" jdbcType="VARCHAR"/>
            <result property="serviceInoutType" column="service_inout_type" jdbcType="INTEGER"/>
            <result property="serviceReleaseDept" column="service_release_dept" jdbcType="VARCHAR"/>
            <result property="serviceReleaser" column="service_releaser" jdbcType="VARCHAR"/>
            <result property="serviceReleaseNum" column="service_release_num" jdbcType="VARCHAR"/>
            <result property="serviceReleasePhone" column="service_release_phone" jdbcType="VARCHAR"/>
            <result property="serviceInterfaceUrl" column="service_interface_url" jdbcType="VARCHAR"/>
            <result property="serviceTopic" column="service_topic" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
            <result property="serviceReqHeaders" column="service_req_headers" jdbcType="VARCHAR"/>
            <result property="serviceRespHeaders" column="service_resp_headers" jdbcType="VARCHAR"/>
            <result property="serviceRespSample" column="service_resp_sample" jdbcType="VARCHAR"/>
            <result property="oneselfuse" column="oneselfuse" jdbcType="VARCHAR"/>
            <result property="serviceAgentSysId" column="service_agent_sys_id" jdbcType="VARCHAR"/>
            <result property="serviceProvideType" column="service_provide_type" jdbcType="VARCHAR"/>
            <result property="isAsynService" column="is_asyn_service" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,service_build_id,service_resource_identifier,
        service_resource_name,service_resource_desc,service_resource_version,
        service_category_id,service_type_id,service_resource_url,
        service_gateway_url,service_call_type,service_resource_method,
        relation_data_resource_identifier,service_req_args,service_resp_args,
        service_req_sample,service_resp_code,service_resource_doc,
        service_resource_status,service_resource_open,service_resource_report,
        service_resource_reg_userid,service_resource_reg_username,service_resource_reg_time,
        service_resource_provider_orgid,service_resource_provider_orgname,service_resource_provider_sysid,
        service_resource_provider_sysname,service_resource_off_time,service_resource_off_reason,
        service_resource_off_userid,service_resource_off_username,service_resource_origin_type,
        resource_catalog_id,service_agreement_id,service_power_orgid,
        service_power_orgname,service_power_userid,service_power_username,
        service_power_contact,service_mgmt_orgid,service_mgmt_orgname,
        service_mgmt_userid,service_mgmt_username,service_mgmt_contact,
        data_reg_orgid,data_reg_orgname,data_reg_userid,
        data_reg_username,data_reg_idcard,data_opt_orgid,
        data_opt_orgname,data_opt_userid,data_opt_username,
        data_opt_idcard,service_inout_type,service_release_dept,
        service_releaser,service_release_num,service_release_phone,
        service_interface_url,service_topic,is_deleted,
        service_req_headers,service_resp_headers,service_resp_sample,
        oneselfuse,service_agent_sys_id,service_provide_type,
        is_asyn_service
    </sql>
</mapper>
