<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.sjzy_treeMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.sjzy_tree">
            <id property="drid" column="DRID" jdbcType="VARCHAR"/>
            <result property="parentDrid" column="parent_DRID" jdbcType="VARCHAR"/>
            <result property="drName" column="DR_name" jdbcType="VARCHAR"/>
            <result property="drNode" column="DR_node" jdbcType="VARCHAR"/>
            <result property="drRemark" column="DR_remark" jdbcType="VARCHAR"/>
            <result property="engineTag" column="engine_tag" jdbcType="VARCHAR"/>
            <result property="databaseId" column="database_id" jdbcType="VARCHAR"/>
            <result property="datasetId" column="dataset_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        DRID,parent_DRID,DR_name,
        DR_node,DR_remark,engine_tag,
        database_id,dataset_id
    </sql>
</mapper>
