<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.sjzy_fieldMapper">

    <resultMap id="BaseResultMap" type="generator.com.run.rshare.entity.sjzy_field">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="datasetId" column="dataset_id" jdbcType="BIGINT"/>
            <result property="chname" column="chname" jdbcType="VARCHAR"/>
            <result property="enname" column="enname" jdbcType="VARCHAR"/>
            <result property="fieldType" column="field_type" jdbcType="VARCHAR"/>
            <result property="length" column="length" jdbcType="VARCHAR"/>
            <result property="fillingRate" column="filling_rate" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="dicCode" column="dic_code" jdbcType="VARCHAR"/>
            <result property="dataRelate" column="data_relate" jdbcType="VARCHAR"/>
            <result property="fieldConstraint" column="field_constraint" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="columnStatus" column="column_status" jdbcType="INTEGER"/>
            <result property="markType" column="mark_type" jdbcType="VARCHAR"/>
            <result property="isNull" column="is_null" jdbcType="INTEGER"/>
            <result property="isPrimaryKey" column="is_primary_key" jdbcType="INTEGER"/>
            <result property="isPartition" column="is_partition" jdbcType="INTEGER"/>
            <result property="defaultValue" column="default_value" jdbcType="VARCHAR"/>
            <result property="isShow" column="is_show" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dataset_id,chname,
        enname,field_type,length,
        filling_rate,status,sort,
        remark,dic_code,data_relate,
        field_constraint,create_time,column_status,
        mark_type,is_null,is_primary_key,
        is_partition,default_value,is_show
    </sql>
</mapper>
